@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #ffffffe8;
}

.app{
    background: #ffffff;
    box-shadow: 0 0 50px #26ff3c;
    width: 90%;
    box-shadow: 10px;
    max-width: 600px;
    margin : 50px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 25px;
    color: #00eaff;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}

.app span{
    font-family: "Protest Riot", sans-serif;
    color: #33ff00;
}

.quiz{  
    padding: 20px;
}

.quiz h2{
    font-size: 20px;
    color: #000000;
    font-weight: 600
}

.quiz img{
    width: 500px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    background:  #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    transition: .5s;
    cursor: pointer;
}

.btn:hover:not([disabled]){
    background-color: #60cbde;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#nextBtn{
    display: none;
    background: #2aff42;
    box-shadow: 0 5px 0 #4bac54 ;
    padding: 7px;
    font-size: 17px;
    width: 130px;
    border: 1px ;
    border-radius: 20px;
    margin: 20px auto 0 ;
    cursor: pointer;
    color:  #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

.correct{
    background-color: #82ffb8;
}

.incorrect {
    background: #e74b4b;
}

.fill-in-the-blank-input {
    font-weight: 500;
    width: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    transition: .5s;
    cursor: pointer;
}

.btnn{
    display: flex;
    justify-content: center;
    background: #2aff42;
    padding: 7px;
    font-size: 17px;
    width: 130px;
    border: 1px ;
    border-radius: 20px;
    margin: 20px auto 0 ;
    cursor: pointer;
    box-shadow: 0 5px 0 #4bac54 ;
}

.app{
    display: none;
}

.first-window{
    background: #ffffff;
    box-shadow: 0 0 50px #26ff3c;
    width: 90%;
    box-shadow: 10px;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin : 80px auto 0;
}

.first-window img{
    width: 350px;
}

#continue{
    padding: 10px;
    width: 180px;
    border-radius: 20px;
    background-color: #26ff3c;
    border: none;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 5px 0 #4bac54 ;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 20px 0;
}

.tag{
    font-size: 38px;
}

@media (max-width: 750px) {
    .app{
        margin-top: 80px;
        margin-left: auto;
        width: 95%; 
    }

    .app h1{
        font-size: 28px;
    }

    .quiz h2{
        font-size: 18px;
    }

    .quiz{
        padding: 20px 0;
    }

    .quiz img{
        width: 500px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .btn{
        margin: 10px 0;
    }
}

@media (max-width: 450px) {
    .app{
        margin-top: 80px;
        margin-left: 10px;
        width: 95%; 
    }

    .app h1{
        font-size: 28px;
    }

    .quiz h2{
        font-size: 18px;
    }

    .quiz{
        padding: 10px 0;
    }

    .quiz img{
        width: 360px;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .btn{
        margin: 5px 0;
    }
}


@media (max-width: 395px) {
    .app{
        margin-top: 80px;
        margin-left: 10px;
        width: 95%; 
    }

    .app h1{
        font-size: 28px;
    }

    .quiz h2{
        font-size: 18px;
    }

    .quiz{
        padding: 10px 0;
    }

    .quiz img{
        width: 300px;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .btn{
        margin: 5px 0;
    }
}
